# RStudio project files
# .Rproj.user/
# *.Rproj
# .Rhistory
# .RData
# .Ruserdata

# R package build artifacts
# *.tar.gz

# Generated documentation
man/
docs/

# Temporary files
*.log
*.tmp
*.swp

# Data files
# data/
# *.csv

# OS-specific files
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# ignore folders:
archive/
# R scripts/
